[project]
	description = my first project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MichalskiArtur
[access "refs/for/refs/*"]
	read = group user/MichalskiArtur
	push = group user/MichalskiArtur
	label-Code-Review = -2..+2 group user/MichalskiArtur
	label-Verified = -1..+1 group user/MichalskiArtur
	rebase = group user/MichalskiArtur
	removeReviewer = group user/MichalskiArtur
	submit = group user/MichalskiArtur
[access "refs/heads/*"]
	read = group user/MichalskiArtur
	create = group user/MichalskiArtur
	push = +force group user/MichalskiArtur
	pushMerge = group user/MichalskiArtur
[access "refs/tags/*"]
	push = +force group user/MichalskiArtur
	pushTag = group user/MichalskiArtur
	pushSignedTag = group user/MichalskiArtur
